@model Somativa.Models.VendaItem

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-center mt-5" style="font-family: 'Cantata One';">Editar Venda</h1>
<hr />

<div class="row">
    <div class="col-md-4 m-auto align-items-center">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VendaItemId" />
            <div class="form-group">
                <label asp-for="VendaId" class="control-label" style="font-family: 'Cantata One';"></label>
                <select asp-for="VendaId" class="form-control form-control-lg" asp-items="ViewBag.VendaId"></select>
                <span asp-validation-for="VendaId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ProdutoId" class="control-label" style="font-family: 'Cantata One';"></label>
                <select asp-for="ProdutoId" class="form-control form-control-lg" asp-items="ViewBag.ProdutoId"></select>
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Quantidade" class="control-label" style="font-family: 'Cantata One';"></label>
                <input asp-for="Quantidade" class="form-control form-control-lg" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Unitario" class="control-label" style="font-family: 'Cantata One';"></label>
                <input asp-for="Unitario" type="number" step=".01" class="form-control form-control-lg" />
                <span asp-validation-for="Unitario" class="text-danger"></span>
            </div>
            <div class="d-flex mt-4 justify-content-center">
                <div class="form-group me-3">
                    <input type="submit" value="Editar" class="btn text-white" style="font-family: 'Cantata One'; background-color: #379747; border-radius: 15px 15px 15px 15px; width: 140px; height: 50px;" />
                </div>
                <div class="form-group ms-3">
                    <a asp-action="Index" asp-route-id="@Model.VendaId" class="btn text-white d-flex justify-content-center align-items-center" style="font-family: 'Cantata One'; background-color: #F82D2D; border-radius: 15px 15px 15px 15px; width: 140px; height: 50px;">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
