@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5" style="width: 100%">
    <img src="~/img/banner2.png" alt="EcoTrendy Banner" class="" style="display: block; max-width: 100%; height: auto;" />
</div>
