@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="mt-4" style="font-family: 'Cantata One';">Politicas de Privacidade</h1>

<p class="mt-3" style="font-family: 'Cantata One';">A EcoTrendy está comprometida em proteger a privacidade dos seus clientes. Esta Política de Privacidade esclarece como coletamos, usamos, divulgamos e protegemos as informações pessoais que você fornece ao usar nossos serviços.</p>

<div style="font-family: 'Cantata One';">
    <h3 class="mt-5">Informações Coletadas</h3>

    <h5 class="mt-2 m-3">Ao interagir com a EcoTrendy, podemos coletar as seguintes informações pessoais:</h5>
    <div class="mt-2 ms-5">
        <p>• Informações de contato (como nome, endereço de e-mail, endereço postal, número de telefone).</p>
        <p>• Informações de pagamento (detalhes do cartão de crédito, informações de faturamento).</p>
        <p>• Preferências pessoais e dados de compra.</p>
        <p>• Informações demográficas (idade, sexo, localização).</p>
        <p>• Informações de interação com o site (como páginas visitadas, tempo gasto no site).</p>
    </div>
</div>

<div style="font-family: 'Cantata One';">
    <h3 class="mt-5">Uso de Informações Pessoais</h3>

    <h5 class="mt-2 m-3">Utilizamos as informações coletadas para os seguintes propósitos:</h5>
    <div class="mt-2 ms-5">
        <p>• Processar pedidos, realizar entregas e fornecer suporte ao cliente.</p>
        <p>• Personalizar sua experiência de compra e fornecer recomendações de produtos.</p>
        <p>• Comunicar atualizações, ofertas promocionais ou informações relevantes sobre nossos produtos.</p>
        <p>• Melhorar nossos serviços, incluindo o site e os produtos oferecidos.</p>
        <p>• Cumprir obrigações legais ou regulatórias.</p>
    </div>
</div>