@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua Senha?";
}

<div class="row mt-5">
    <div class="col-md-4 m-auto">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <h2 class="text-center">Coloque seu E-mail</h2>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg bootstrap-icon="Envelope" width="20" height="20" aria-label="Email" class="m-1"></svg>
                </span>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="E-mail" style="height: 60px;"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn-success text-white" style="font-family: 'Cantata One'; width: 220px; height: 60px; background-color: #6BA083; margin: auto; border-radius: 15px 15px 15px 15px; border: none;">ENVIAR</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

